[submodule "themes/hugo-hero-theme"] 
  path = themes/hugo-hero-theme
  url = https://github.com/zerostaticthemes/hugo-hero-theme.git
[submodule "public"]
	path = public
	url = https://github.com/APorous/website.git
